@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
body{
  background: rgb(44,35,70);
  background: linear-gradient(0deg, rgba(44,35,70,1) 16%, rgba(165,79,79,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}